<div class="modal-content modal-dialog-custom">
  <div class="modal-header">
    <h4 class="modal-title"
        style="font-size: 18px;font-weight: 600;font-family: Inter;line-height: 30px;color: #101840;text-align: center !important;">
      Thêm mới người dùng
    </h4>
  </div>
  <div class="modal-body" style="padding: 15px 10px !important">
    <div class="row">
      <div class="col-12">
        <h4 class="modal-title"
            style="text-align: left;text-transform: uppercase;font-family: Inter;font-weight: 600;font-size: 16px;line-height: 24px !important;">
          Thông tin
        </h4>
      </div>
      <div class="col-md-12">
        <label>Username<span> *</span></label>
        <input style="font-size: 12px" type="text" formControlName="code" required/>
      </div>
      <div class="col-md-12">
        <label>Họ và tên<span> *</span></label>
        <input type="text" style="color: #474d66; font-weight: 500; font-size: 12px !important" formControlName="name"/>
      </div>
      <div class="col-md-12">
        <label>Email<span> *</span></label>
        <input type="text" style="color: #474d66; font-weight: 500; font-size: 12px !important" formControlName="name"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-action">
      <button type="button" class="btn-md btn-gray" style="
          font-size: 12px;
          font-weight: 600;
          font-family: Inter;
          line-height: 16px;
          text-align: center !important;
        " (click)="cancel()">
        Hủy bỏ
      </button>
      <button type="button" class="btn-md btn-or" style="
          font-size: 12px;
          font-weight: 600;
          font-family: Inter;
          line-height: 16px;
          text-align: center !important;
        ">
        Lưu lại
      </button>
    </div>
  </div>
</div>
