<div class="container">
  <div class="padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="forgot">
          <h2>Quên mật khẩu?</h2>
          <p>Thay đổi mật khẩu của bạn trong ba bước đơn giản. Điều này sẽ giúp bạn bảo mật mật khẩu của mình!</p>
          <ol class="list-unstyled">
            <li><span class="text-primary text-medium">1. </span>Nhập địa chỉ email của bạn vào bên dưới.</li>
            <li><span class="text-primary text-medium">2. </span>Hệ thống của chúng tôi sẽ gửi cho bạn một liên kết tạm thời</li>
            <li><span class="text-primary text-medium">3. </span>Sử dụng liên kết để đặt lại mật khẩu của bạn</li>
          </ol>
        </div>
        <form class="forgot mt-4">
          <div class="card-body">
            <div class="form-group">
              <label for="email-for-pass">Nhập địa chỉ email của bạn</label>
              <input class="form-control bg-white" type="text" id="email-for-pass">
                <small class="form-text text-muted">
                  Nhập địa chỉ email bạn đã sử dụng trong quá trình đăng ký trên E - Shop. Sau đó, chúng tôi sẽ gửi email một liên kết đến địa chỉ này.
                </small>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-success btn-small" type="submit" style="border-radius: 5px">Lấy mật khẩu mới</button>
            <button class="btn btn-danger btn-small" type="submit" style="margin-left: 20px; border-radius: 5px" (click)="routerLogin()">Quay lại đăng nhập</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
