<div class="modal-content modal-dialog-custom">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-header">
      <h4 class="modal-title"
          style="font-size: 18px;font-weight: 600;font-family: Inter;line-height: 30px;color: #101840;text-align: center !important;">
        Nhập sản phẩm
      </h4>
    </div>
    <div class="modal-body" style="padding: 15px 10px !important">
      <div class="row">
        <div class="col-md-12">
          <label>Sản phẩm<span> *</span></label>
          <ng-select [items]="lstProduct" bindLabel="name" bindValue="code" formControlName="code"
                     placeholder="Lựa chọn" [clearable]="false" [searchable]="false" notFoundText="Không tìm thấy"
                     style="color: #101840;font-size: 12px;line-height: 16px;font-weight: 400 !important;">
            <ng-template ng-option-tmp let-item="item">
              <div title="{{ item.name }}"
                   style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                {{ item.name }}
              </div>
            </ng-template>
          </ng-select>
          <span
            class="error-validate"
            *ngIf="getControl.code?.hasError('required') && (getControl.code.dirty || getControl.code.touched)">
            Sản phẩm không được để trống</span>
        </div>
        <div class="col-md-12">
          <label>Số lượng nhập<span> *</span></label>
          <input type="text"
                 style="color: #474d66; font-weight: 500; font-size: 12px !important" formControlName="quantity"/>
          <span class="error-validate"
                *ngIf="getControl.quantity?.hasError('required') && (getControl.quantity.dirty || getControl.quantity.touched)">
            Số lượng nhập không được để trống
          </span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="btn-action">
        <button type="button" class="btn-md btn-gray"
                style="font-size: 12px;font-weight: 600;font-family: Inter;line-height: 16px;text-align: center !important;"
                (click)="cancel()">
          Hủy bỏ
        </button>
        <button type="submit" class="btn-md btn-or"
                style="font-size: 12px;font-weight: 600;font-family: Inter;line-height: 16px;text-align: center !important;"
                [disabled]="!form.valid">
          Nhập sản phẩm
        </button>
      </div>
    </div>
  </form>
</div>
