<!--begin::Subheader-->
<div *ngIf="showDashboard" class="subheader py-2 py-lg-4 bg-white" [ngClass]="subheaderClasses" id="kt_subheader"
     style="padding-left: 10px;">
  <div [ngClass]="subheaderContainerClasses"
       class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap w-100 pr-5 pl-5">
    <!--begin::Info-->
    <div class="d-flex align-items-center flex-wrap mr-1" style="width: 100%;">
      <!--begin::Page Heading-->
      <div class="d-flex align-items-baseline" style="width:100%">
        <ng-container *ngIf="title">
          <!--begin::Page Title-->
          <h5 class="text-dark font-weight-bold">
            {{title}}
          </h5>
        </ng-container>
        <!--end::Page Title-->

        <!--begin::Breadcrumb-->
        <ng-container *ngIf="breadcrumbs.length > 0">
          <div style="width:100%; display:flex; justify-content: space-between">
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
              <!-- <li class="breadcrumb-item"><a href="#"><i class="flaticon2-shelter text-muted icon-1x"></i></a></li> -->
              <li class="breadcrumb-item">
                <a href="/" class="breadcrumb-item">
                  {{ 'COMMON.HOME' | translate }}
                </a>
              </li>
              <ng-container *ngFor="let item of breadcrumbs">
                <li class="breadcrumb-item">
                  <a [routerLink]="item.page" [queryParams]="item.queryParams" class="text-muted">
                    {{item.title}}
                  </a>
                </li>
              </ng-container>
            </ul>
            <div class="date" *ngIf="disableStaticDataPackage">
              <div class="static-type">
                <div class="text select-date">{{ 'MENU.SUB_HEADER.REPORT' | translate }}</div>
                <select class="text select-box mr-0" *ngIf="disableStaticDataPackage" name="" [(ngModel)]="type"
                        (change)="selectType($event)" style="font-size: 12px">
                  <option *ngFor="let o of listType" [value]="o.id">
                    {{o.translate | translate}}
                  </option>
                </select>
              </div>
              <div class="static-type">
                <div class="text select-date">{{ 'MENU.SUB_HEADER.SELECT_YEAR' | translate }}</div>
                <select class="text select-box mr-0" style="font-size: 12px; color: #474D66"
                        *ngIf="disableStaticDataPackage" name="" [(ngModel)]="years" [disabled]="disableYears"
                        (change)="changeYear($event)">
                  <option *ngFor="let o of listYear" [value]="o.name">
                    {{o.name}}
                  </option>
                </select>
              </div>
              <div class="static-type" *ngIf="type == 0">
                <div class="text select-date">{{ 'MENU.SUB_HEADER.SELECT_MONTH' | translate }}</div>
                <select class="text select-box mr-0" style="font-size: 12px; color: #474D66" name="" [(ngModel)]="thang"
                        [disabled]="disableYears" (change)="changeMonth($event)">
                  <option *ngFor="let o of listT" [value]="o.id">
                    {{o.name}}
                  </option>
                </select>
              </div>

              <div class="static-type" *ngIf="type == 1">
                <div class="text select-date">{{ 'MENU.SUB_HEADER.SELECT_QUARTER' | translate }}</div>
                <select class="text select-box mr-0" style="font-size: 12px; color: #474D66" name="" [(ngModel)]="quy"
                        [disabled]="disableYears" (change)="changeQuy($event)">
                  <option *ngFor="let o of listQ" [value]="o.id">

                    {{o.translate | translate}}

                    <!--                    {{ 'SUB_HEADER.QUARTER' | translate }} {{o.name}}-->

                  </option>
                </select>
              </div>
            </div>

            <!-- <select *ngIf="notSchoolYear" name="" id="" [(ngModel)]="years" (change)="selectYears($event)" [disabled]="disableYears" style="font-size: 12px">
              <option *ngFor="let o of schoolYearList" [value]="o.years">
                {{o.years}}
              </option>
            </select> -->
          </div>
        </ng-container>
        <!--end::Breadcrumb-->
      </div>
      <!--end::Page Heading-->
    </div>
    <!--end::Info-->

    <div class="d-flex align-items-center">
      <!--      <ng-container *ngIf="displayDaterangepicker">-->
      <!--        &lt;!&ndash;begin::Daterange&ndash;&gt;-->
      <!--        <a href="#" class="btn btn-light btn-sm font-weight-bold mr-3" id="kt_dashboard_daterangepicker" data-toggle="tooltip" title="Select dashboard daterange" data-placement="left">-->
      <!--          <span class="text-muted font-weight-bold mr-2" id="kt_dashboard_daterangepicker_title">Today</span>-->
      <!--          <span class="text-primary font-weight-bold" id="kt_dashboard_daterangepicker_date">Aug 16</span>-->
      <!--        </a>-->
      <!--        &lt;!&ndash;end::Daterange&ndash;&gt;-->
      <!--      </ng-container>-->

      <!--      &lt;!&ndash;begin::Actions&ndash;&gt;-->
      <!--      <a href="#" class="btn btn-light font-weight-bold btn-sm">-->
      <!--        Actions-->
      <!--      </a>-->
      <!--      &lt;!&ndash;end::Actions&ndash;&gt;-->

      <!--      &lt;!&ndash;begin::Dropdown&ndash;&gt;-->
      <!--      <div ngbDropdown [placement]="'bottom-right'"  class="dropdown dropdown-inline" ngbTooltip="Quick actions">-->
      <!--				<a ngbDropdownToggle href="javascript:;" class="btn btn-icon">-->
      <!--					<span class="svg-icon svg-icon-success svg-icon-2x" [inlineSVG]="'./assets/media/svg/icons/Files/File-plus.svg'"></span>-->
      <!--				</a>-->
      <!--				<div ngbDropdownMenu class="dropdown-menu p-0 m-0 dropdown-menu-md dropdown-menu-right">-->
      <!--          &lt;!&ndash;begin::Navigation&ndash;&gt;-->
      <!--          <ul class="navi navi-hover">-->
      <!--            <li class="navi-header font-weight-bold py-5">-->
      <!--              <span class="font-size-lg">Choose Label:</span>-->
      <!--              <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>-->
      <!--            </li>-->
      <!--            <li class="navi-separator mb-3 opacity-70"></li>-->
      <!--            <li class="navi-item">-->
      <!--              <a href="#" class="navi-link">-->
      <!--            <span class="navi-text">-->
      <!--                <span class="label label-xl label-inline label-light-success">Customer</span>-->
      <!--            </span>-->
      <!--              </a>-->
      <!--            </li>-->
      <!--            <li class="navi-item">-->
      <!--              <a href="#" class="navi-link">-->
      <!--            <span class="navi-text">-->
      <!--                <span class="label label-xl label-inline label-light-danger">Partner</span>-->
      <!--            </span>-->
      <!--              </a>-->
      <!--            </li>-->
      <!--            <li class="navi-item">-->
      <!--              <a href="#" class="navi-link">-->
      <!--            <span class="navi-text">-->
      <!--                <span class="label label-xl label-inline label-light-warning">Suplier</span>-->
      <!--            </span>-->
      <!--              </a>-->
      <!--            </li>-->
      <!--            <li class="navi-item">-->
      <!--              <a href="#" class="navi-link">-->
      <!--            <span class="navi-text">-->
      <!--                <span class="label label-xl label-inline label-light-primary">Member</span>-->
      <!--            </span>-->
      <!--              </a>-->
      <!--            </li>-->
      <!--            <li class="navi-item">-->
      <!--              <a href="#" class="navi-link">-->
      <!--            <span class="navi-text">-->
      <!--                <span class="label label-xl label-inline label-light-dark">Staff</span>-->
      <!--            </span>-->
      <!--              </a>-->
      <!--            </li>-->
      <!--            <li class="navi-separator mt-3 opacity-70"></li>-->
      <!--            <li class="navi-footer pt-5 pb-4">-->
      <!--              <a class="btn btn-clean font-weight-bold btn-sm" href="#">-->
      <!--                <i class="ki ki-plus icon-sm"></i>-->
      <!--                Add new-->
      <!--              </a>-->
      <!--            </li>-->
      <!--          </ul>-->
      <!--          &lt;!&ndash;end::Navigation&ndash;&gt;-->
      <!--				</div>-->
      <!--			</div>-->
      <!--      &lt;!&ndash;end::Dropdown&ndash;&gt;-->
    </div>
  </div>
</div>
<!--end::Subheader-->
