<div class="footer  py-4 d-flex flex-lg-column border-top mt-6" id="kt_footer" [ngClass]="footerClasses">
  <div [ngClass]="footerContainerClasses"
       class=" d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div class="d-flex">
      <img src="" style="height: 35px"/>
      <div class="ml-3">
      </div>
    </div>
    <div class="text-dark order-2 order-md-1">
      <span class="text-muted font-weight-bold mr-2">{{today | date:'yyyy'}} &copy;</span>
      <a href="http://keenthemes.com/metronic" target="_blank" class="text-dark-75 text-hover-primary">Keenthemes</a>
    </div>
    <div class="nav nav-dark order-1 order-md-2">
    </div>
  </div>
</div>
