<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-12 col-xs-12" style="margin-left: 15px; padding-right: 30px;">
    <div class="menu-action-dv">
      <h3 style="font-weight: 700; font-family: Inter; font-size: 18px; line-height: 30px !important; text-transform: uppercase;">CHI TIẾT ĐƠN HÀNG</h3>
    </div>
    <!---->
    <div class="row search-dv" style="margin:0px">
      <div class="col-md-3" style="padding-left: 0">
        <label style="font-size: 14px; font-weight: 600; font-family: Inter; line-height: 24px; color: #474D66 !important;">Tên khách hàng</label>
        <input type="text" style="font-size: 12px; font-weight: 400; font-family: Inter; line-height: 16px; color: #696F8C !important;" placeholder="Nhập thông tin tra cứu" [(ngModel)]="ordes.name" disabled>
      </div>
      <div class="col-md-3" style="padding-left: 0">
        <label style="font-size: 14px; font-weight: 600; font-family: Inter; line-height: 24px; color: #474D66 !important;">Số điên thoại</label>
        <input type="text" style="font-size: 12px; font-weight: 400; font-family: Inter; line-height: 16px; color: #696F8C !important;" placeholder="Nhập thông tin tra cứu" [(ngModel)]="ordes.phone" disabled>
      </div>
      <div class="col-md-3" style="padding-left: 0">
        <label style="font-size: 14px; font-weight: 600; font-family: Inter; line-height: 24px; color: #474D66 !important;">Địa chỉ</label>
        <input type="text" style="font-size: 12px; font-weight: 400; font-family: Inter; line-height: 16px; color: #696F8C !important;" placeholder="Nhập thông tin tra cứu" [(ngModel)]="ordes.address" disabled>
      </div>

      <div class="col-md-2" style="padding-right: 0; font-size: 12px">
        <button *ngIf="ordes.status !== 1" (click)="acessOrder()">Duyệt đơn</button>
      </div>

    </div>
    <div class="row table-school table-class-room" style="margin: 20px 0 0 0;">
      <ag-grid-angular [suppressRowTransform]="true"
                       [suppressRowClickSelection]="true"
                       class="ag-theme-balham"
                       [suppressMovableColumns]="true"
                       style="width: 100%; height: 545px;" class="ag-theme-balham"
                       [rowData]="lstOrders"
                       (gridSizeChanged)="gridSizeChanged($event)"
                       [columnDefs]="columnDefs"
                       [headerHeight]="headerHeight"
                       [rowHeight]="rowHeight"
                       [tooltipShowDelay]="0"
                       (gridReady)="onGridReady($event)"
                       [applyColumnDefOrder]="true"
                       [overlayNoRowsTemplate]="overlayNoRowsTemplate">
      </ag-grid-angular>
    </div>
  </div>
</div>
