.row {
  margin: 0px 15px;
}
.menu-action-dv {
  border-bottom: 1px solid #e6e8f0;
  box-shadow: 0px 2px 4px rgba(28, 41, 90, 0.0367952);
  font-weight: bold;
  color: #101840;
  display: flex;
  height: 52px;
}
.title-list{
  font-weight: 700;
  font-family: Inter;
  font-size: 18px;
  line-height: 30px !important;
  text-transform: uppercase;
}
.menu-action-dv h3 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #101840;
  padding-top: 14px;
}

