<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-12 col-xs-12" style="margin-left: 15px; padding-right: 30px;">
    <div class="menu-action-dv">
      <h3 class="title-list">
        LỊCH SỬ BẢO HÀNH
      </h3>
    </div>

    <div class="row table-school table-class-room" style="margin: 20px 0 0 0;">
      <ag-grid-angular [suppressRowTransform]="true" [suppressRowClickSelection]="true" class="ag-theme-balham"
                       [suppressMovableColumns]="true" style="width: 100%; height: 545px;" class="ag-theme-balham"
                       [rowData]="lstWarrantyDetails" (gridSizeChanged)="gridSizeChanged($event)"
                       [columnDefs]="columnDefs" [headerHeight]="headerHeight" [rowHeight]="rowHeight"
                       [tooltipShowDelay]="0" (gridReady)="onGridReady($event)" [applyColumnDefOrder]="true"
                       [overlayNoRowsTemplate]="overlayNoRowsTemplate">
      </ag-grid-angular>
    </div>
  </div>
</div>
