display-flex,
.signup-content,
.socials {
  display: flex;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #222;
  font-family: Poppins;
  font-size: 34px;
}


.container {
  width: 900px;
  background: #ffffff;
  margin: 0 auto;
  border-radius: 20px;
}

.signup-content {
  padding: 75px 0;
}
.signup-form{
  width: 90%;
}
.signup-image{
  width: 70%;
}

.form-title {
  margin-bottom: 25px;
}
.signup-image {
  margin-top: 85px;
}

.signup-image-link {
  font-size: 14px;
  //color: #222;
  display: block;
  text-align: center;
}

.signup-form {
  margin-left: 55px;
  margin-right: 45px;
  padding-left: 30px;
}

.form-group {
  position: relative;
  margin-bottom: 13px;
  overflow: hidden;
}

.input-pass {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eye-pass {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.main{
  background: #f5f5f5;
  padding: 40px 0;
}
