.sy {
  margin: 0 20px 0 40px;
}

.sy-heading {
  display: flex;
  justify-content: space-between;
}

.div-bg-custom {
  label span {
    color: #FF0000;
  }
}


@media screen and (max-width: 768px) {
  .footer-custom {
    position: unset !important;
  }
  .sy-heading-text {
    margin: auto !important;
  }
  .change-form-custom {
    width: 90% !important;

    form {
      margin-top: 0% !important;;
    }
  }
}

.custom-input-error {
  border-radius: 0.42rem 0 0 0.42rem !important;
  border-right: none !important;
}

.custom-span-error {
  border-radius: 0 0.42rem 0.42rem 0 !important;
  background: none;
  border-left: none;
}

.custom-view-error {
  border-color: #FF0000;
}

.input-group-append {
  .custom-view-error {
    border-color: #FF0000 !important;
  }

  .is-invalid {
    border-color: #FF0000 !important;
  }
}

.custom-input-error:focus ~ .custom-span-error {
  border-color: #007eff;
}

.error_div {
  height: 16px;
  left: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #D14343;
  padding: 1% 0 !important;
  margin-bottom: 1rem !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-custom {
    position: unset !important;
  }
  .sy-heading-text {
    margin: auto !important;
  }
  .change-form-custom {
    width: 60% !important;
  }
}

.div-bg-custom {
  background-image: url(../../../../../assets/media/img/background_change.png);
  background-size: cover;
  margin-top: -25px;
  height: 105% !important;
}

.change-form-custom {
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 35%;

  /* BG 4 */

  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 12px;

}

.label-title-form-change {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #101840;
}

.div-content-custom {
  margin-bottom: 1rem !important;
  display: inline-grid;

  label {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #474D66;
  }
}

.custom-under-input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #696F8C;
  margin-bottom: 1rem !important;
  margin-top: 1%;
}

.btn_send {
  width: 118px;
  height: 32px;
  background: #F26522;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;

}

.btn_cancel {
  align-items: center;
  padding: 8px 16px;
  margin-right: 5%;
  width: 105px;
  height: 32px;
  background: #E6E8F0;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #696F8C;

}

.form-change-custom input.index-focus:focus, input:focus, textarea:focus, nz-tree-select:focus, ng-select:focus-within, button:focus, custom-span-error:focus {
  outline: none !important;
}
