<div class="w-100 h-100 div-bg-custom pt-15">
  <div class="change-form-custom mt-2">
    <form class="form" [formGroup]="changePasswordForm" autocomplete="off" (ngSubmit)="submit()" (reset)="onCancel()">
      <div class="form-group ">
        <div class="custom-modal-header text-center m-auto ">
          <h3
            class="label-title-form-change pt-3 pb-3 justify-content-center">{{ 'AUTH.CHANGE.TITLE' | translate }}</h3>
        </div>
        <hr/>
        <br/>
        <div class="container-fluid div-content-custom">
          <label>{{ 'AUTH.CHANGE.CUR_PASS' | translate }} <span>*</span></label>
          <div class="input-group-append">
            <input type="password" class="form-control w-100 input-sm custom-input-error"
                   formControlName="currentPassword" id="currentPassword" ng
                   aria-describedby="currentPassword" #password1
                   (keydown.space)="$event.preventDefault();" (blur)="replaceSpacecurrentPassword($event)"
                   autocomplete="off"
                   [ngClass]="{'is-invalid': f.get('currentPassword').touched && f.get('currentPassword').invalid}">
            <span class="input-group-text cursor-pointer  navi-hover text-hover-red custom-span-error"
                  [ngClass]="{'custom-view-error': f.get('currentPassword').touched && f.get('currentPassword').invalid}"
                  (click)="changeType(password1, 1)">
              <i *ngIf="!toggle1" [ngClass]="{'fas fa-eye-slash': !toggle1}"></i>
              <i *ngIf="toggle1" [ngClass]="{'fas fa-eye':toggle1}"></i>
            </span>
          </div>
          <p class="custom-under-input"
             *ngIf="!f.get('currentPassword').invalid&&!changePasswordForm.get('currentPassword').errors?.isNull">
            {{'AUTH.CHANGE.LENGHT' | translate}}</p>
          <span class="cross-validation-error-message alert error_div"
                [ngClass]="{'is-invalid': f.get('currentPassword').touched && f.get('currentPassword').invalid}"
                *ngIf="changePasswordForm.get('currentPassword').errors?.maxlength">
            {{'AUTH.MSG.CUR_PASS_MAXLENT' | translate}}
          </span>
          <span class="cross-validation-error-message alert error_div"
                [ngClass]="{'is-invalid': f.get('currentPassword').touched && f.get('currentPassword').invalid}"
                *ngIf="changePasswordForm.get('currentPassword').errors?.pattern">
             {{'AUTH.CHANGE.CUR_PASS' | translate}} {{'AUTH.VALIDATION.PASS_VALDATION' | translate}}
          </span>
          <span class="cross-validation-error-message alert error_div"
                [ngClass]="{'is-invalid': f.get('currentPassword').touched && f.get('currentPassword').invalid}"
                *ngIf="changePasswordForm.get('currentPassword').errors?.minlength">
            {{'AUTH.MSG.CUR_PASS_MINLENT' | translate}}
          </span>
          <span class="cross-validation-error-message alert error_div"
                [ngClass]="{'is-invalid': f.get('currentPassword').touched && f.get('currentPassword').invalid}"
                *ngIf="changePasswordForm.get('currentPassword').errors?.isNull">
            {{'AUTH.MSG.CUR_PASS_NOT_BLANK' | translate}}
          </span>
        </div>
        <div class="container-fluid div-content-custom">
          <label>{{ 'AUTH.CHANGE.NEW_PASS' | translate }} <span>*</span></label>
          <div class="input-group-append">
            <input type="password" class="form-control w-100 input-sm custom-input-error" formControlName="newPassword"
                   id="newPassword" ng
                   aria-describedby="newPassword" #password2
                   autocomplete="off"
                   (keydown.space)="$event.preventDefault();" (blur)="replaceSpacenewPassword($event)"
                   [ngClass]="{'is-invalid': (f.get('newPassword').touched && f.get('newPassword').invalid)||changePasswordForm.hasError('hasSame')}">
            <span class="input-group-text cursor-pointer  navi-hover text-hover-red custom-span-error"
                  [ngClass]="{'custom-view-error': (f.get('newPassword').touched && f.get('newPassword').invalid)||changePasswordForm.hasError('hasSame')}"
                  (click)="changeType1(password2, 1)">
              <i *ngIf="!toggle3" [ngClass]="{'fas fa-eye-slash': !toggle3}"></i>
              <i *ngIf="toggle3" [ngClass]="{'fas fa-eye': toggle3}"></i>
            </span>
          </div>
          <p class="custom-under-input"
             *ngIf="!f.get('newPassword').invalid&&!changePasswordForm.hasError('hasSame')&&!changePasswordForm.get('newPassword').errors?.isNull">
            {{'AUTH.CHANGE.LENGHT' | translate}}</p>
          <span class="cross-validation-error-message alert error_div"
                [ngClass]="{'is-invalid': f.get('newPassword').touched && f.get('newPassword').invalid}"
                *ngIf="changePasswordForm.get('newPassword').errors?.maxlength">
            {{'AUTH.MSG.NEW_PASS_MAXLENT' | translate}}
          </span>
          <span class="cross-validation-error-message alert error_div"
                [ngClass]="{'is-invalid': f.get('newPassword').touched && f.get('newPassword').invalid}"
                *ngIf="changePasswordForm.get('newPassword').errors?.pattern">
             {{'AUTH.CHANGE.NEW_PASS' | translate}} {{'AUTH.VALIDATION.PASS_VALDATION' | translate}}
          </span>
          <span class="cross-validation-error-message alert error_div"
                [ngClass]="{'is-invalid': f.get('newPassword').touched && f.get('newPassword').invalid}"
                *ngIf="changePasswordForm.get('newPassword').errors?.minlength">
            {{'AUTH.MSG.NEW_PASS_MINLENT' | translate}}
          </span>
          <span class="cross-validation-error-message alert error_div"
                [ngClass]="{'is-invalid': f.get('newPassword').touched && f.get('newPassword').invalid}"
                *ngIf="changePasswordForm.get('newPassword').errors?.isNull">
            {{'AUTH.MSG.NEW_PASS_NOT_BLANK' | translate}}
          </span>
          <span class="cross-validation-error-message alert error_div"
                *ngIf="changePasswordForm.hasError('hasSame') &&!changePasswordForm.get('newPassword').errors?.isNull&&!changePasswordForm.get('newPassword').errors?.maxlength&&!changePasswordForm.get('newPassword').errors?.minlength">
            {{'AUTH.CHANGE.PASS_CUR_MATCH_NEW' | translate}}
          </span>
        </div>
        <div class="container-fluid div-content-custom">
          <label>{{ 'AUTH.CHANGE.RE_PASS' | translate }} <span>*</span></label>
          <div class="input-group-append">
            <input type="password" class="form-control w-100 input-sm custom-input-error" formControlName="rePass"
                   id="rePass" ng
                   aria-describedby="rePass" autocomplete="off"
                   (keydown.space)="$event.preventDefault();" #password3 (blur)="replaceSpaceRePass($event)"
                   [ngClass]="{'is-invalid': (f.get('rePass').touched && f.get('rePass').invalid)||changePasswordForm.hasError('notSame')}">
            <span class="input-group-text cursor-pointer  navi-hover text-hover-red custom-span-error"
                  [ngClass]="{'custom-view-error': (f.get('rePass').touched && f.get('rePass').invalid)||changePasswordForm.hasError('notSame')} "
                  (click)="changeType2(password3, 1)">
              <i *ngIf="!toggle5" [ngClass]="{'fas fa-eye-slash':!toggle5}"></i>
              <i *ngIf="toggle5" [ngClass]="{'fas fa-eye': toggle5}"></i>
            </span>
          </div>
          <p class="custom-under-input"
             *ngIf="!f.get('rePass').invalid&&!changePasswordForm.hasError('notSame')&&!changePasswordForm.get('rePass').errors?.isNull">
            {{'AUTH.CHANGE.LENGHT' | translate}}</p>
          <span class="cross-validation-error-message alert error_div"
                [ngClass]="{'is-invalid': f.get('rePass').touched && f.get('rePass').invalid}"
                *ngIf="changePasswordForm.get('rePass').errors?.maxlength">
            {{'AUTH.MSG.RE_PASS_MAXTLENT' | translate}}
          </span>
          <span class="cross-validation-error-message alert error_div"
                [ngClass]="{'is-invalid': f.get('rePass').touched && f.get('rePass').invalid}"
                *ngIf="changePasswordForm.get('rePass').errors?.pattern">
             {{'AUTH.CHANGE.RE_PASS' | translate}} {{'AUTH.VALIDATION.PASS_VALDATION' | translate}}
          </span>
          <span class="cross-validation-error-message alert error_div"
                [ngClass]="{'is-invalid': f.get('rePass').touched && f.get('rePass').invalid}"
                *ngIf="changePasswordForm.get('rePass').errors?.minlength">
            {{'AUTH.MSG.RE_PASS_MINLENT' | translate}}
          </span>
          <span class="cross-validation-error-message alert error_div"
                [ngClass]="{'is-invalid': f.get('rePass').touched && f.get('rePass').invalid}"
                *ngIf="changePasswordForm.get('rePass').errors?.isNull">
            {{'AUTH.MSG.RES_PASS_NOT_BLANK' | translate}}
          </span>
          <span class="cross-validation-error-message alert error_div"
                *ngIf="changePasswordForm.hasError('notSame')&&!changePasswordForm.get('rePass').errors?.isNull&&!changePasswordForm.get('rePass').errors?.maxlength&&!changePasswordForm.get('rePass').errors?.minlength">
            {{'AUTH.MSG.RE_PASS_PASS_NOT_MATCH' | translate}}
          </span>
        </div>
      </div>
      <hr/>
      <!--begin::Action-->
      <div class="form-group d-flex flex-wrap flex-center container-fluid div-content-custom"
           style="border-radius: 16px;">
        <div class="modal-footer border-0 pt-2">
          <div class=" m-auto d-inline-flex ">
            <button type="reset" class="btn  btn_cancel">{{'COMMON.CANCEL' | translate}}</button>
            <button type="button" type="submit" class="btn  btn_send" (keyup.enter)="submit()"
                    [disabled]="loading?true:null ||changePasswordForm.invalid"
            >{{'COMMON.AGREE' | translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
