<div class="w-100 h-100" style="background: #E6E8F0;">
  <div class="row w-100 h-100 m-0 p-0">
    <div class="col-md-5 col-sm-12 bg-gradient-secondary div_left ">
      <div class="row div_body">
        <div class="col-md-12 col-sm-12 d-inline-flex">
          <div class="col-md-8 col-sm-6 ">
            <div class="div_logo"></div>
          </div>
          <div class="col-md-4 col-sm-6 div_lang">
            <kt-language-selector class="dropdown_lang"></kt-language-selector>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 label_header">
          <div class="col-md col-sm text_header">
            <br/><br/>
            <div>
              <p class="txt_login">{{'AUTH.LOGIN.LOGIN' | translate}}</p>
            </div>
          </div>
          <div class=" div_login">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 float-right col-sm-12 ">
      <div>
        <img class="img_logo_2"/>
      </div>
      <div style="margin-top: 85%"></div>
    </div>
  </div>
</div>
