<div class="footer">
  <footer>
    <section class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="feature-block">
              <i class="tf-ion-android-bicycle"></i>
              <div class="content">
                <h5>Miễn phí vận chuyển</h5>
                <p>Miễn phí vẫn chuyển toàn quốc</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="feature-block">
              <i class="tf-wallet"></i>
              <div class="content">
                <h5>Giao hàng nhanh</h5>
                <p>Giao hàng nhanh, tiện lợi</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="feature-block">
              <i class="tf-key"></i>
              <div class="content">
                <h5>Thanh toán an toàn</h5>
                <p>100% bảo mật khi thanh toán</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="feature-block">
              <i class="tf-clock"></i>
              <div class="content">
                <h5>24/7 Hỗ trợ</h5>
                <p>Luôn hỗ trợ khách hàng 24/7 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="footer-bottom">
      <div class="text-center text-black copyright mb-0"
           style="color: #363432; font-family: 'Roboto', sans-serif; font-weight: 300; background: #D6D6D0;">
        © 2022 Copyright: <a routerLink="/">laptopshop.com</a>
      </div>
    </div>
  </footer>
</div>
